<!-- departamento/listaD.html -->
<div th:fragment="contenido">
    <h2 class="text-center">Retardos</h2>
    
    <table class="table table-striped table-bordered">
        <thead class="table-dark text-center">
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Horas Faltantes</th>
                <th>Horas Trabajadas</th>
                <th>Retraso</th>
                <th>IdAsistencia</th>
                <th>IdHorario</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="r : ${retardoR}">
                <td th:text="${r.id}"></td>
                <td th:text="${r.fecha}"></td>
                <td th:text="${r.horasfaltantes}"></td>
                <td th:text="${r.horastrabajadas}"></td>
                <td th:text="${r.retraso}"></td>
                <td th:text="${r.asistencia != null} ? ${r.asistencia.id} : 'Sin Asistencia'"></td>
                <td th:text="${r.horario != null} ? ${r.horario.id} : 'Sin Horario'"></td>
            </tr>
        </tbody>
    </table>
</div>
