<div th:fragment="contenido">
    <h2 class="text-center">From Tipo Permiso</h2>

    <form th:action="@{/tipo/guardar}" th:object="${tipo}" method="post"
          class="p-4 border rounded bg-white shadow-sm col-md-8 mx-auto">
        
        <!-- ID solo visible en modo edición -->
        <div th:if="${tipo.id != null}" class="mb-3">
            <label class="form-label">ID</label>
            <input type="text" th:field="*{id}" class="form-control" readonly />
        </div>

		<div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" th:field="*{nombre}" class="form-control" required />
            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></div>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Descripcion</label>
            <input type="text" th:field="*{descripcion}" class="form-control" required />
            <div th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class="text-danger"></div>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
            <a th:href="@{/tipo/inicio}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>